*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    
}

nav {
    background-color: rgb(126, 6, 6);
    height: 4em;
    display: flex;
    font-size: large;
    justify-content: space-around;
    align-items: center;
}
nav  li {
    display: inline;
    margin: 1em ;
    font-size: x-large;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(100, 100, 100);
    color: aliceblue;
}
.introduction {
    display: flex;
    padding: 3em 3em;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    margin: 3em;
    background-color: rgb(81, 3, 3);
}
.gallery img{
    width: 500px;
    height: 400px;
}

.price-list{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em;
    padding: 1em;
    background-color: rgb(62, 38, 54);
}



footer{
    display: flex;
    align-content: center;
    background-color: sienna;
    max-width: 1500px !important;
    max-height: 1000px !important;
    text-align: center;
}

