*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;


}

nav {
    background-color: rgb(126, 6, 6);
    height: 4em;
    display: flex;
    font-size: large;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 50px;
    height: 50px;
    
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav  li {
    display: inline;
    margin: 1em ;
    font-size: x-large;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
}

main {
    background-image: url(images/nsamor.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; ;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
    padding-bottom: 2em;
}
.introduction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3em 10em;
    justify-content: center;
    align-items: center;
    background-color:rgb(43, 41, 41);
    opacity: 80%;
    border: 1px solid black;
}
.introduction h1{
    font-size: 3em;
    color: white;
    margin-bottom: 1em;
}

.introduction p{
    text-align:justify;
    font-size: 1.5em;
    color: white;
    font-size: x-large;
    margin-bottom: 2em;
}

#h2_between{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
}

.gallery {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    margin:1em ;
    border-radius: 35px;
    border: 1em solid rgb(49, 10, 10);
    background-color: rgba(121, 0, 0, 0.795);
    
}

.gallery img{
    border-radius: 1em;
    width: 450px;
    height: 350px;
    border: 7px solid black;
    margin: 1em;
}

.price-list{  
    display: flex;
    width: 60%;
    margin: 1em;
    border: 1em solid rgb(49, 10, 10);
    border-radius: 2em;
}
.price-list ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4em;
    border-radius: 1em;
    background-color: rgb(103, 6, 6);
    text-align: center;
}
.price-list ul p{
    flex: 1 0 0 ;
    font-size: large;
    padding: 5px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 1 0 ;
    
    background-color: rgb(92, 30, 2);
    text-align: center;
    flex-direction: column;
}
footer p{
    flex: 1 0 0 ;
    font-size: large;
    padding: 5px;
}


