*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* NAV-BAR */
nav {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    background-color:#CC3333;
}
nav img{
    width: 50px;
    height: 50px;
    background-color: rgba(238, 0, 0, 0.432);
    border-radius: 2em;
}
nav >a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 2.5em;
    background-color: rgba(255, 255, 255, 0.637);
}
#nav_icon{
    rotate: y 180deg;
}
nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}
nav  li {
    margin: 1em ;
    font-size: x-large;
}
nav ul li a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 22px;
}

/* MAIN CONTENT */
.situations{
    background-color: rgb(79, 90, 86);
    height: 100vh;
}
h1{
    font-size: 3em;
    background-color: rgb(137, 150, 150);
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 10vh;
    flex: 1 1 0 ;
    background-color:#70595c;
    justify-content: space-evenly;
}

footer p{
    font-size: large;
    padding: 6px;
    color: solid #3E3330;
}
footer a{
    font-size: large;
    color: #720707e7;
    text-decoration: none;
}
