*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;


}


nav {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    background-color:#CC3333;
}
nav img{
    width: 50px;
    height: 50px;
    background-color: rgba(238, 0, 0, 0.432);
    border-radius: 2em;
}
nav >a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 2.5em;
    background-color: rgba(255, 255, 255, 0.637);
}
#nav_icon{
    rotate: y 180deg;
}
nav ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}
nav  li {
    margin: 1em ;
    font-size: x-large;
}
nav ul li a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 24px;
}

main {
    background-color:#bb6b66fd;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #3E3330;
    padding-bottom: 2em;
}
.introduction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3em 10em;
    justify-content: center;
    align-items: center;
    background-color:#905D5D;
    border: 5px solid #733635;
    border-top: 2px solid ;
    border-end-start-radius: 10em;
    border-end-end-radius: 10em;
    margin-bottom: 1em;
}
.introduction h1{
    font-size: 4em;
    color: #f5eaea;
    margin-bottom: 1em;
}

.introduction p{
    text-align:justify;
    font-size: 1.5em;
    color: #eccfcf;
    font-size: x-large;
    margin-bottom: 1.5em;
}

#h2_between{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #F3F3F3;
    padding: 10px;
}

.gallery {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    margin:1em ;
    border-radius: 35px;
    border: 1em solid #733635;
    background-color:#905D5D;
}

.gallery img{
    border-radius: 1em;
    width: 450px;
    height: 350px;
    border: 7px solid #BC8F8F;
    margin: 1em;
}

.price-list{  
    display: flex;
    width: 60%;
    margin: 1em;
    border: 1em solid #733635;
    border-radius: 2em;
}
.price-list ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    background-color:#905D5D;
    text-align: center;
}
.price-list ul p{
    color: #eccfcf;

    flex: 1 0 0 ;
    font-size: x-large;
    padding: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 10vh;
    flex: 1 1 0 ;
    background-color:#70595c;
    justify-content: space-evenly;
}

footer p{
    font-size: large;
    padding: 6px;
    color: solid #3E3330;
}
footer a{
    font-size: large;
    color: #720707e7;
    text-decoration: none;
}


