* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;

}

main {
    background-color: #a5a5a5;
    height: auto;
}


nav {
    display: flex;

    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    background-color: #443c3c;
}

nav img {
    width: 50px;
    height: 50px;
    background-color: rgba(238, 0, 0, 0.432);
    border-radius: 2em;
}

nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 2.5em;
}



#language-toggle {
    display: flex;
    align-self: center;
    font-weight: bold;

    font-size: large;
    padding: 9px;
    border-radius: 2em;
    background-color: #a5a5a5;
}


nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-wrap: wrap;
}

nav li {

    margin: 1em;
    font-size: x-large;
}

nav ul li a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 24px;
}


.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em 10em;
    justify-content: center;
    align-items: center;
    border-top: 5px solid;
    border-bottom: 2px solid;
    margin-bottom: 1em;
    background-image: url(/things/images/main\ cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.introduction h1 {
    font-size: 4em;
    color: #f5eaea;
    margin: 3em;
}

.introduction p {
    text-align: justify;
    font-size: 1.5em;
    color: #e2dbdb;
    /* background-color:#8d7676a6; */
    /* border: 5px solid #733635; */
    padding: 1em;
    /* border-radius: 2em; */

    border-top: 5px solid #fff4f1;
    font-size: x-large;
    margin-bottom: 1.5em;
}


.about-us {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    background-color: #353535;
    border: 1em solid #733635;
    border-radius: 2em;
    color: #dbc6c6;
}

.about-us h2 {
    font-size: 3em;
    align-self: center;
    color: #F3F3F3;
    padding: 1em;
}

.about-us p {
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}

.services {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em;
    background-color: #353535;
    border: 1em solid #733635;
    border-radius: 2em;
    color: #dbc6c6;
}

.services h2 {
    font-size: 3em;
    align-self: center;
    color: #F3F3F3;
    padding: 1em;
}

.services p {
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}


.services-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.services-info h3 {
    font-size: 1.5em;
    color: #F3F3F3;
    text-align: center;

    padding: 6px;
    margin: 1em;
    border-radius: 1em;
    border: 1px solid#d1caca;
}

.services-info img {
    display: flex;
    align-self: center;
    height: 200px;
    padding: 1em;


}






.gallery {
    display: flex;
    justify-self: center;
    border-radius: 35px;
    border: 1em solid #733635;
    background-color: #905D5D;
    width: 90%;
    padding: 2em;
    margin: 1em;
}


.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.column-container button {
    align-self: center;

}

.gallery h2 {
    font-size: 3em;

    color: #F3F3F3;
    padding: 1em;
}

.gallery p {
    width: 60%;
    font-size: large;
    padding: 1em;
    color: #ddbdbd;
    /* color: #d1caca; */
}

.gallery button {

    background-color: #733635;
    border-radius: 2em;
}

.gallery button a {
    display: flex;
    text-decoration: none;
    justify-self: center;
    font-size: large;
    padding: 1em 3em;

    color: #F3F3F3;
}

.gallery img {
    align-self: center;
    flex-wrap: wrap;
    width: 20%;
    height: 250px;
    margin: 1em;
    border-radius: 1em;
    border: 7px solid #BC8F8F;
}




/* Price */
.price-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    padding: 1em;
    margin: 1em;
    justify-content: center;
    background-color: #353535;
    border: 1em solid #733635;
    border-radius: 2em;
    color: #dbc6c6;
}

.price-list h2 {
    font-size: 3em;
    align-self: center;
    color: #F3F3F3;
    padding: 1em;
}

.price-list p {
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 3em;
    flex: 1 1 0;
    background-color: #443c3c;
    justify-content: space-evenly;
}

footer p {
    font-size: large;
    padding: 6px;
    color: solid #3E3330;
}

footer a {
    font-size: large;
    color: #410909e7;
    text-decoration: none;
}

.mobile-menu {
    display: none;
}



@media (max-width: 768px) {
    .mobile-menu {
        display: flex;
    }

    :root {
        --bar-width: 50px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: #333;
        --background: white;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: white;
        --background: #333;
        
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
    }

    .hamburger-menu:has(input:checked)+.sidebar {
        translate: 0;
        
    }


    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav li {

        margin: 0.5em;

    }

    .introduction {
        height: 90vh;
        padding: 1em;
    }

    .introduction h1 {
        font-size: 1.5em;
    }

    .introduction p {
        font-size: 1em;
        /* 
        display: none; */
    }

    .about-us {
        justify-self: center;
        width: 90%;
        margin: 0%;
    }

    .about-us h2 {
        font-size: 2em;
    }

    .about-us p {
        text-align: center;
        font-size: 1em;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery img {
        width: 60%;
        height: 100%;
    }

    .gallery p {
        width: 100%;
    }

    .gallery h2 {
        font-size: 2em;
    }

    .gallery button {
        padding: 1em;
    }

    footer {
        padding: 1.5em;
    }

    footer p {
        text-align: left;
    }

    footer a {
        font-size: medium;
    }

}
