* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

main {
    background-color: #a5a5a5;
    background-color: #FFFFFF;

    height: auto;
}


nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    background-color: #443c3c;
    border-bottom: 4px solid;
}



nav img {
    width: 50px;
    height: 50px;
    background-color: rgba(238, 0, 0, 0.432);
    border-radius: 2em;
}



#language-toggle {
    display: flex;
    align-self: center;
    font-weight: bold;
    ;
    padding: 9px;
    border-radius: 2em;
    background-color: #a5a5a5;
}


nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-wrap: wrap;
}

nav li {

    margin: 1em;
    font-size: x-large;
}

nav ul li a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 24px;
}


.introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 3em 10em;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid;
    background-image: url(/things/images/main\ cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.introduction h1 {
    font-size: 3.7em;
    color: #f5eaea;
    margin: 3em;

}

.introduction a {
    border: 3px solid #F3F3F3;
    border-radius: 5px;
    padding: 1em 3em;
    font-size: x-large;
    color: #ffffff;
    text-decoration: none;

}

#section2 {
    display: flex;
    background-image: url(/things/images/services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    position: relative;
    z-index: 1;
}

#section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-repeat: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(5px);
    z-index: -1;
}

.about-us {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 10px 10px 10px #2e2d2d;
    border: 1em solid #733635;
    border-radius: 2em;
    margin: 8em auto;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.623);
    /* Add background to make text readable */
}

.about-us h2 {
    font-size: 3em;
    align-self: center;
    color: #4e4040;
    padding: 1em;
}

.about-us p {
    font-size: x-large;
    color: #645353;
    padding: 1em;
}

#nz {
    height: 600px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




#section3 {

    background-color: #494949;

    padding: 9em;
    width: 100%;


}

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    background-color: #2e2c2c;
    border: 6px solid #733635;
    border-radius: 2em;

}




.services section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1em;

}


.services h2 {
    font-size: 3em;
    align-self: center;
    color: #F3F3F3;
    padding: 1em;
}

.services p {
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}

.services ul {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}

.services ul li {
    padding: 5px;
}



#section5,
#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/things/images/sirisvisual-4p8Rxlpli5w-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 9em;
    width: 100%;
}





.gallery {
    display: flex;
    justify-self: center;
    border-radius: 35px;
    border: 1em solid #733635;
    background-color: #905D5D;
    width: 90%;
    padding: 2em;
    margin: 1em;
}



.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.column-container h2 {
    font-size: 3em;
    color: #F3F3F3;
    padding: 1em;
}

.column-container p {
    width: 60%;
    font-size: large;
    padding: 1em;
    color: #d1caca;
}

.column-container button {
    align-self: center;
    background-color: #733635;
    border-radius: 2em;
}

.column-container button a {
    display: flex;
    text-decoration: none;
    justify-self: center;
    font-size: large;
    padding: 1em 3em;
    color: #F3F3F3;
}



/* slideshow*/

@keyframes slide-horizontal {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-300px);
    }

    40% {
        transform: translateX(-600px);
    }

    60% {
        transform: translateX(-300px);
    }

    80% {
        transform: translateX(0);
    }
}

/* slideshow */



.sliding-img {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;

    width: 300px;
    /* Adjust for the number of options */
}

.sliding-img .img-wrapper {
    display: flex;
    width: calc(300px);
    /* Adjust for the number of options */
    animation: slide-horizontal 30s ease-in-out infinite;
}

.sliding-img div {
    flex: 0 0 300px;
    /* Matches the container width */

}

.services-info img {
    display: flex;
    align-self: center;
    height: 200px;
    border-radius: 1em;
    border: 3px solid #442020;
}




/* Price */
.price-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    padding: 1em;
    margin: 1em;
    justify-content: center;
    background-color: #353535;
    border: 1em solid #733635;
    border-radius: 2em;
    color: #dbc6c6;
}

.price-list h2 {
    font-size: 3em;
    align-self: center;
    color: #F3F3F3;
    padding: 1em;
}

.price-list p {
    font-size: x-large;
    color: #d1caca;
    padding: 1em;
}

footer {
    display: flex;
    text-align: center;
    padding: 2em;
    justify-content: space-around;
    align-items: center;

    background-color: #2e2c2c;


}

footer h2 {
    font-size: 2em;
    color: #dfd8d8;

    padding: 1em;
}

footer section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    align-items: flex-start;
    padding: 1em;

}

.Social {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
}

.Social a {
    font-size: large;
    text-decoration: none;
    color: #F3F3F3;
    padding: 4px;
}


.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;

    background-color: #504c4c;
    border-radius: 2em;
    margin: 1em;
}

.contact p {
    padding: 6px;
    text-align: left;

    color: #F3F3F3;

}



.navigation {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1em;
}

.navigation a {
    font-size: large;
    text-decoration: none;
    color: #F3F3F3;
    padding: 4px;
}



#creator,
#creator p {
    display: flex;
    justify-content: center;
    background-color: #504c4c;
    font-size: large;
    padding: 5px;
    text-decoration: none;
}

#creator a {
    color: #442020;
    text-decoration: none;
}

.mobile-menu {
    display: none;
}



@media (max-width: 768px) {
    .mobile-menu {
        display: flex;
    }

    :root {
        --bar-width: 50px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: #333;
        --background: white;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked) {
        --foreground: white;
        --background: #333;

    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);

        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        border-radius: 1em;

    }

    .hamburger-menu:has(input:checked)+.sidebar {
        translate: 0;

    }

    .sidebar nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
    }


    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav li {

        margin: 0.5em;

    }

    .introduction {
        height: 90vh;
        padding: 1em;
    }

    .introduction h1 {
        font-size: 1.5em;
    }

    .introduction p {
        font-size: 1em;
        /* 
        display: none; */
    }

    .about-us {
        justify-self: center;
        width: 90%;
        margin: 0%;
    }

    .about-us h2 {
        font-size: 2em;
    }

    .about-us p {
        text-align: center;
        font-size: 1em;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery img {
        width: 60%;
        height: 100%;
    }

    .gallery p {
        width: 100%;
    }

    .gallery h2 {
        font-size: 2em;
    }

    .gallery button {
        padding: 1em;
    }

    footer {
        padding: 1.5em;
    }

    footer p {
        text-align: left;
    }

    footer a {
        font-size: medium;
    }

}
